<div class="forgot-responsive">
  <div nz-row class="forgot-form">
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="23" class="forgot-form__background">
      <img class="forgot-form__logo" src="../assets/img/logo.png" alt="" height="56">
      <div class="forgot-form__background-txt">Forgot Password</div>
      <h2 class="forgot-form__title ">Forgot Password</h2>
      <p class="forgot-form__subtitle">Enter your mail ID & we will send you link</p>
      <div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
          <h6 nz-typography class="forgot-form__signup-mail">Email</h6>
          <nz-form-item>
            <nz-form-control>
              <input [nzBorderless]="true" nz-input name="Username" type="Username" id="Username" class="forgot-form__txt-input"
                placeholder="Enter Your Email" formControlName="email"
                [class.is-invalid]="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched">
              <ng-container
                *ngIf="(forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched) || forgotPasswordForm.get('email').dirty">
                <p nz-typography *ngIf="forgotPasswordForm.get('email').errors?.required" class="text-info">
                  <strong>Email is
                    required</strong>
                </p>
                <p nz-typography *ngIf="forgotPasswordForm.get('email').errors?.pattern" class="text-info">
                  <strong>Please provide a
                    valid
                    Email</strong>
                </p>
              </ng-container>
            </nz-form-control>
          </nz-form-item>
          <button type="submit" class="forgot-form__register-btn" [disabled]="forgotPasswordForm.invalid"><img src="../../../assets/img/svg/arrow-right.svg" alt="">
          </button>
        </form>
      </div>
      <div nzLinkRouter class="forgot-form__signup-tag-margin">
        <a href="#" routerLink="/signin" class="forgot-form__signup-tag"
          routerLinkActive="active">Sign In</a>
    </div>
    </div>
   
  </div>
</div>