<section class="activitylog">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col nzXs="24" nzSm="24" nzMd="3" nzLg="3" nzXl="3"></div>
    <div nz-col nzXs="24" nzSm="24" nzMd="17" nzLg="17" nzXl="17">
      <h3 nz-typography>Authorized Device List</h3>
      <nz-table #authDeviceTable [nzData]="authDevices" [nzFrontPagination]="true" nzShowPagination nzHideOnSinglePage>
        <thead>
          <tr>
            <th class="table-title">DateTime</th>
            <th class="table-title">Browser</th>
            <th class="table-title">OS</th>
            <th class="table-title">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of authDevices; let i = index">
            <p>data</p>
            <td>{{ data }}</td>
            <td>{{ data.browser }}</td>
            <td>{{ data.os }}</td>
            <!-- <td class="tab-verify">{{ data.status }}</td> -->
            <td>
              <div>
                  <nz-tag [nzColor]="data.status ? 'green' : 'yellow'">{{
                      data.status? 'Verified' : 'NotVerified'
                  }}</nz-tag>
              </div>
            </td>
            <td>
              <button
                  nz-button
                  
                  nzSize="large"
                  nzShape="round"
                  class="danger-hover-active"
                  nz-popconfirm
                  nzPopconfirmTitle="UnAuthConfirm"
                  nzOkType="danger"
                  nzOkText="Yes"
                  nzCancelText="No"
                  (nzOnConfirm)="RemoveDevice(data._id, i)"
              >Remove
              </button>
          </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>