section{
    background-color: #ffff;
}
.binance-key-link-btn{
    background-color: #00bcc7;
    border:none;
    font-family: 'Lato', sans-serif;
}
.binance-content-center{
    text-align: center; 
}
.items{
    margin-top: 25rem;
    
}
.heading-text{
   color: rgb(58, 58, 58);
   margin-top: 1rem;
}
.bnb-svg{
    height: 50px;
}