<form [formGroup]="resetPassword" (ngSubmit)="reset()">

    <!-- <b>Response from child : "{{ receivedChildMessage | json }}"</b> -->
    <div class="row reset-form">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="../assets/img/logo.png" alt="" height="56">
            <div class="reset-form__background-txt">Reset Password</div>
            <h2 class="text-capitalize mt-5 reset-form__title ">reset password</h2>
            <p class="text-capitalize reset-form__subtitle"><strong>Manage your crypto portfolio & trading
                    decisions</strong></p>
            <div>
                <div class="form-group mt-5 ">
                    <label class="reset-form__reset-mail">Password</label><br>
                    <input [nzBorderless]="true" nz-input type="password" class="reset-form__txt-input pt-1 pb-1" placeholder="Enter a Strong password"
                        formControlName="password">
                    <div *ngIf="resetPassword.get('password').touched &&resetPassword.get('password').invalid">
                        <small class="text-info" *ngIf="resetPassword.get('password').errors.required"><strong>Please
                                Enter
                                Password</strong> </small>
                        <small class="text-info" *ngIf="resetPassword.get('password').errors.pattern"><strong>Password
                                must contain one
                                small character,one large character,one number, special characters and minimum 8
                                digits</strong> </small>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="reset-form__reset-mail">Confirm Password</label><br>
                    <input [nzBorderless]="true" nz-input type="password" class="reset-form__txt-input pt-1 pb-1" placeholder="Confirm Your Password"
                        formControlName="confirmPassword">
                    <div
                        *ngIf="resetPassword.get('confirmPassword').touched && resetPassword.get('confirmPassword').invalid">
                        <small class="text-info"
                            *ngIf="resetPassword.get('confirmPassword').errors.required"><strong>Password is required
                            </strong> </small>
                    </div>
                </div>
                <div class="d-flex">
                    <button type="submit" class=" btn mt-5 mb-5 p-2  reset-form__register-btn"
                        [disabled]="!resetPassword.valid"><i class="fa fa-arrow-right fa-1x p-3 "
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="d-flex mt-4">
                <a href="#" class="mt-5  reset-form__reset-tag" routerLink="/signin" routerLinkActive="active">Sign
                    In</a>
            </div>
        </div>
    </div>
</form>