<div class="forgot-responsive">
  <div  nz-row class="verify-account">
    <div nz-col nzspan="1"></div>
    <div nz-col nzSpan="23" class="verify-account__background">
      <img class=" verify-account__logo"  src="../assets/img/logo.png" alt="" height="56">
      <div class=" verify-account__background-txt">Verify Account</div>
      <h2 class=" verify-account__title ">Verify Account</h2>
      <p class=" verify-account__subtitle"><strong>Manage your crypto portfolio & trading decision</strong></p>
      <div>
        <!-- <i class="fa fa-shield my-5 text-info verification-icon" aria-hidden="true"></i>
        <i class="fa fa-shield my-5 text-danger verification-icon" aria-hidden="true" *ngIf = false></i> -->
        <h3 class="verification-text">Account Verification</h3>
        <p class=" verify-account__subtitle" *ngIf = true><strong>Your account has been verified!</strong></p>
      </div>
      <a href="#" class=" verify-account__signup-tag" routerLink="/signin" routerLinkActive="active">Sign In</a>
    </div>
</div>
</div>




















































<!-- <div class="container-fluid forgot-responsive">
  <div class="row forgot-form">
    <div class="col-sm-12 col-md-12 col-lg-12 forgot-form__background">
      <img src="../assets/img/logo.png" alt="" height="56">
      <div class="forgot-form__background-txt">Verify Account</div>
      <h2 class="text-capitalize mt-5  forgot-form__title ">verify account</h2>
      <p class="forgot-form__subtitle"><strong>Manage your crypto portfolio & trading decision</strong></p>
      <div>
        <i class="fa fa-shield my-5 text-info verification-icon" aria-hidden="true"></i>
        <i class="fa fa-shield my-5 text-danger verification-icon" aria-hidden="true" *ngIf = false></i>
        <h3 class="text-capitalize  verification-text">account verification</h3>
        <p class="forgot-form__subtitle text-info" *ngIf = true><strong>Your account has been verified!</strong></p>
        < <div>
           <p class="forgot-form__subtitle text-danger" *ngIf = false><strong>verification failed</strong></p>
           <p class="forgot-form__subtitle text-danger" *ngIf = false><strong>Link is invalid or has been expired!</strong></p>
        </div> -->
      <!-- </div> -->
    <!-- </div>
    <div class="container-fluid">
      <div class="mt-5">
        <a href="#" class="mt-5  forgot-form__signup-tag" routerLink="/signin" routerLinkActive="active">Sign In</a>
      </div>
    </div>
  </div>
</div>  -->